@keyframes loding {
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}
.confirm_container{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  display: inline-block;
  .transition{
    opacity: 1;
  }
  .mzl-wrapper{
    position: absolute;
    opacity: 0;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    &.transition{
      transition:.1s all ease-in;
      width: 400px;
      height: 150px;
      opacity: 1;
    }
    .mzl-header{
      height: 40px;
      display: flex;
      justify-content: space-between;
      .close{
        &:hover{
          cursor: pointer;
          color: #000;
        }
      }
    }
    .mzl-body{
      flex: 1;
      display: flex;
      align-items: center;
      .warn{
        color: #faad14;
      }
      .margin_left{
        margin-left: 10px;
      }
    }
    .mzl-footer{
      display: flex;
      justify-content: end;
      .margin_left{
        margin-left: 10px;
        .loding{
          animation:linear loding 3s infinite;
        }
      }
    }
  }
}
.confirm-enter {
  opacity: 0;
}

.confirm-enter-active {
  opacity: 1;
  transition: all 150ms ease-in-out;
}

.confirm-exit {
  opacity: 1;
}

.confirm-exit-active {
  opacity: 0;
  transition: all 150ms ease-in-out;
}
