// @import '../../src/styles/global.scss';
.mzl_input_inner {
	display: inline-flex;
	width: 100%;
	align-items: center;
	transition: all .3s;
	border: 1px solid $input-border-color;
	padding: 0 10px;
	box-sizing: border-box;
	justify-content: center;
	height: 36px;
	color: $text-color;
	overflow: hidden;

	.mzl_input {
		width: 100%;
		height: 100%;
		display: inline-block;
		font-size: 14px;
		transition: all .3s;
		outline: none;
		border: none;
		padding: 0;
		box-sizing: border-box;
		line-height: 1.5714285714285714;
		list-style: none;
	}

	.mzl_input::placeholder {
		color: $disabled-color;
	}

	.mzl_input_prefix {
		margin-right: 4px;
	}

	.mzl_input_suffix {
		margin-left: 4px;
	}

	.mzl_input_clearable {
		cursor: pointer;
	}
}

.mzl_input_inner:hover {
	border: 1px solid $border-color-hover;
}

.mzl_input_inner:focus-within {
	border: 1px solid $border-color-hover;
	box-shadow: 0 0 0 1px $input-color-outline-shadow;
}