body {
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  background-color: #fff;
  font-feature-settings: "tnum";
  margin: 0;
  padding: 0;
  height: 100vh;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #000000d9;
  font-weight: 500;
}
.mzl-ui-doc {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji,
    segoe ui emoji, Segoe UI Symbol, noto color emoji, sans-serif;
}
pre {
  margin: 0;
}
pre > code {
  font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono,
    monospace;
  line-height: 1.7;
  direction: ltr;
  white-space: pre;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: 0 0;
  font-size: 14.2px;
  border: 1px solid #f0f0f0;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: #999;
  background: #fff;
}
.hljs-addition,
.hljs-meta,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable {
  color: #f81d22;
}
.hljs-comment,
.hljs-quote {
  color: #636363;
}
.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-regexp {
  color: #31a354;
}
.hljs-deletion,
.hljs-variable {
  color: #88f;
}
.hljs-built_in,
.hljs-doctag,
.hljs-keyword,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-strong,
.hljs-title,
.hljs-attr,
.hljs-type {
  color: #008dff;
}
.hljs-name{
  color:#f81d22
}
.hljs-string{
  color:#0b8235
}
.hljs-params{
}
.hljs-tag{
  color:#999;
}
.class_,.hljs-params,.language-xml{
  color:rgba(0, 0, 0, 0.8509803922)
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-attribute {
  color: #e6550d;
}
