.mzl_back_top {
  width: 40px;
  height: 40px;
  background: $primary-color;
  border-radius: 4px;
  position: fixed;
  z-index: 1012;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
}

.backtop-enter {
  opacity: 0;
}

.backtop-enter-active {
  opacity: 1;
  transition: all 150ms ease-in-out;
}

.backtop-exit {
  opacity: 1;
}

.backtop-exit-active {
  opacity: 0;
  transition: all 150ms ease-in-out;
}