.mzl_message_postion {
  width: fit-content;
  height: auto;
  overflow: hidden;
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
  margin: 0 auto;

  .mzl_message_item {
    padding: 8px 16px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    color: $text-color;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    gap: 0 5px;

    i {
      color: $primary-color;
      font-size: 16px;
      margin-top: 2px
    }
  }

  .mzl_message_item_success {
    i {
      color: $success-color
    }
  }

  .mzl_message_item_warning {
    i {
      color: $warning-color
    }
  }

  .mzl_message_item_error {
    i {
      color: $error-color
    }
  }
}

.alert-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms ease-in-out;
}

.alert-exit {
  opacity: 1;
  transform: translateY(0);
}

.alert-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;
}